!!!
%html{'ng-app' => 'Organizer'}
%head
  %title Organizer
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application', controller_name
  = csrf_meta_tags

%body
  = render 'layouts/navbar'
  = yield